<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div id="head__menulist">
            <form action="/action/:_id" method="post">
                <div id="head__menu btn">
                    <button id="sprint" name="#">Sprint</button>
                    <button id="" name="#">내 계좌</button>
                    <button id="" name="#"></button>
                    <button id="" name="#"></button>
                </div>
                <% { %>
                    <div id="head__login btn">
                        <button id="login" name="#">LOGIN</button>
                        <button id="register" name="#">REGISTER</button>
                    </div>
                <% } %>
            </form>
        </div>
    </header>
    <nav></nav>
    <main>
        <section>
            <div></div>
        </section>
    </main>
    <footer></footer>
</body>
</html>